name: subaction

on: 
  workflow_dispatch:
  repository_dispatch:
    types: [ create, delete ]
    inputs:
      inputkey1:
        description: 'input 1'
        required: false
   
jobs:
  subaction:
    runs-on: ubuntu-latest
    steps:
    - run: |
        echo "hello"
        echo "---"
        echo  "${{ github.event.inputs.inputkey1 }}" 
